.task-name {
  font-family: serif !important;
}

.form-control {
  border: none !important;
  border-bottom: 1px solid black !important;
  border-radius: 0px !important;
}

.price {
  text-align: end !important;
}

.charge:focus,
.item:focus {
  box-shadow: none !important;
}

.add-item,
.openModal {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 110px;
  outline: 0;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.add-item:focus,
.openModal:focus {
  color: #171e29;
}

.add-item:hover,
.openModal:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.add-item:active,
.openModal:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.amount {
  font-family: serif !important;
}

.openModal {
  background-color: rgb(255, 255, 255) !important;
  color: #000;
  border: 2px solid black !important;
  border-radius: 0px !important;
}


@media (min-width: 768px) {
  .add-item {
    min-width: 120px;
  }
}

@media (min-width: 500px) {

  .add-item,
  .openModal {
    min-width: 100px;
  }
}

@media (min-width: 358px) {

  .add-item,
  .openModal {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
  }

  .list-btn {
    margin-bottom: 40px !important;
  }
}